.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    justify-self: center;

    list-style: none;

    aspect-ratio: 1 / 1;
    width: 25%;
}

li {
    border: 1px dotted gray;
}

.display {
    outline: 1px solid darkolivegreen;
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.restart {
    width: 100px;
    height: 20px;
    justify-self: center;
}